apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ml-pipeline

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - ingress.yaml

commonLabels:
  app.kubernetes.io/name: ml-pipeline
  app.kubernetes.io/managed-by: kustomize
