apiVersion: v1
kind: Secret
metadata:
  name: ml-pipeline-secrets
  namespace: ml-pipeline
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "minioadmin"
  AWS_SECRET_ACCESS_KEY: "minioadmin"
  MLFLOW_S3_ENDPOINT_URL: "http://minio:9000"
